<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Threat Intelligence Platform</title>
    {%assets%}
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/theme_handler.js"></script>
</head>
<body>
    {%app_entry%}
    <footer>
        {%config%}
        {%scripts%}
        {%renderer%}
    </footer>
</body>
</html>

